{% include 'top.html' %}
<div class="content">
    <div class="container details">
        {% if podcastep | length > 0 %}
            <h2 class="title"> ID: {{podcastep[0].media_id}} <br/> Title: {{podcastep[0].podcast_episode_title}} </h2>
            <hr/>
            <h3> Listen to this episode now! </h3>
            <div>
                <audio id="myPodcast" controls>
                <source src={{podcastep[0].podcast_episode_uri}} type="audio/mp3">
                Your browser does not support the audio element.
                </audio>
                <!-- Make this part conditional on if passed variable is true -->
                {% if episode_playback | length > 0 %}
                  <p>Full Listens: {{episode_playback[0].play_count}} <br/>
                    Last Listened: {{episode_playback[0].lastviewed}} <br/><br/>
                    Play from where you last left off!</p>
                  <button onclick="setFromLastPlayed({{episode_playback[0].progress}})" type="button">Resume</button><br>
                {% endif %}
            </div>
            <h3> Artwork </h3>
            {% for instance in podcastep %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" width="300" height="300" alt="image">
                    <br/>© Amazon Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Description </h3>
            {% for instance in podcastep %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Episode URI </h3>
            <div>
                {{podcastep[0].podcast_episode_uri}}
            </div>
            <h3> Published Date </h3>
            <div>
                {{podcastep[0].podcast_episode_published_date}}
            </div>
            <br/>
            <h3> Episode Length </h3>
            <div>
                {{podcastep[0].podcast_episode_length}}
            </div>
            <br/>
        {% endif %}
    </div>
</div>
<script>
  var pod = document.getElementById("myPodcast");

  function setFromLastPlayed(progress) {
    var last_played = (pod.duration*progress)/100;
    pod.currentTime=last_played;
  }
</script>
<script>
  pod.addEventListener('pause', (event) => {
    var pausedTime = (pod.currentTime/pod.duration)*100
    var entry = {
          media_id: {{podcastep[0].media_id}},
          progress: pausedTime
    }
    if(pausedTime<100) {
      fetch(`${window.origin}/update_media_progress`, {
      method: "POST",
      credentials: "include",
      body: JSON.stringify(entry),
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json"
      })
      })
      .then(function(response) {
      if (response.status !== 200) {
        console.log(`Looks like there was a problem. Status code: ${response.status}`);
        return;
      }
      response.json().then(function(data) {
        console.log(data);
      });
      })
      .catch(function(error) {
      console.log("Fetch error: " + error);
      });
    }

  });
</script>
<script>
  pod.addEventListener("ended", function() {
      alert("The audio has ended")

      var ended_entry = {
            media_id: {{podcastep[0].media_id}},
      }

      fetch(`${window.origin}/update_play_count`, {
      method: "POST",
      credentials: "include",
      body: JSON.stringify(ended_entry),
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json"
      })
      })
      .then(function(response) {
      if (response.status !== 200) {
        console.log(`Looks like there was a problem. Status code: ${response.status}`);
        return;
      }
      response.json().then(function(data) {
        console.log(data);
      });
      })
      .catch(function(error) {
      console.log("Fetch error: " + error);
    });

  });
</script>
{% include 'bottom.html'%}
